* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
  scroll-behavior: smooth;
  scroll-padding-top: var(--gap);
}

button {
  font: inherit;
}

pre,
code {
  font-family: var(--mono);
}

:is(h1, h2, h3, h4, h5, h6) {
  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}
